.id_div{
    width: 230px;
    height: 350px;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 20px -5px #333333;
}

.item_img{
    object-fit: contain;
    width: 100%;
}

.item_name{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.item_collection{
    margin-top:0px;
    margin-left:15px;
}