.background-container {
  width: 100%;
  height: 350px; 
  background-color: rgb(195, 205, 208); /* Fallback background color */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s;
}

.background-container:hover{
  background-color: #eee;
  cursor: pointer;
  border-radius: 30px;
}
  
.background-upload-input {
  display: none;
}