/* Detail.module.css */

.detailContainer {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  
  .squareImage {
    margin: 3%;
    width: 37vw;
    height: 37vw;
    object-fit: cover;
    border-radius: 10%;
  }
  
  .Description {
    margin-top: 1%;
    width:  40vw;
    border: 1px solid rgb(209, 212, 215);
    border-radius: 10px;
    padding: 2.5%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    background-color: rgb(247, 252, 255);
  }
  
  .DescriptionH3 {
    margin: 1%; /* Remove default margin */
  }
  
  .DescriptionP {
    margin: 2%; /* Remove default margin-top */
  }
  
  .DescriptionLine {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(209, 212, 215);
    margin: 10px 0; /* Adjust the spacing as needed */
  }
  .DescriptionDitails{
    margin: 1%;
  }

  .DescriptionVal{
    margin: 2%;
    font-size : 18px
  }

  .rightAlign {
    float: right;
  }


  .titleContainer{
    margin-top: 4%;
  }

  .titleSize{
    font-size : 40px
  }

  .title.owned {
    margin: 0; /* Reset the margin to 0 */
  }

  .priceContainer{
    text-align: center;
    margin-top: 5%; /* Adjust the desired top margin */
    width:  40vw;
    border: 1px solid rgb(209, 212, 215);
    border-radius: 10px;
    padding: 2.5%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    background-color: rgb(247, 252, 255);
  }


  .priceVal{
    font-size : 45px
  }

  .buyBtn{
    padding: 0.8%;
    border-radius: 15px;
    border: none; /* Remove the button border */
    background-color: rgb(32, 129, 226);
    color: white;
  }
  