.footerIcon {
  width: 65px;
  height: 65px;
  background-color: rgb(32, 129, 226);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0 10px !important;
  cursor: pointer;
}