:root {
  --header-color: #fff;
  --other-page-color: #000;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0 20px 20px 20px;
}

.header.otherPageHeader {
  background-color: var(--header-color);
  /* background-color: blue; */
}

.gridContainer {
  display: flex !important;
  align-items: center !important;
  height: 100%;

}

.logoWrap {
  display: flex;
  align-items: center;
}

.logoContainer {
  width: 150px;
}

.logoContainer > a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoText {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--header-color)
}

.otherPageLogoText {
  color: var(--other-page-color);
}

.gridContainer {
  margin-top: 0px !important;
}

.headerMenu {
  display: flex;
}

.headerBar::after {
  content: "|";
  color: var(--header-color);
  width: 10px;
  height: 50px;
  margin: 0 10px;
}

.otherPage::after {
  color: #000;
}

.navLink {
  color: var(--header-color);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
}

.otherPageNavLink {
  color: var(--other-page-color);
}

.searchContainer {
  display: flex;
}

.searchInput {
  width: 100%;
  color: var(--header-color);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.searchInput:focus {
  border: 1px solid var(--header-color);
  outline: var(--header-color);
}

.otherPageSearchInput {
  border: 1px solid rgb(204, 204, 204);
}

.otherPageSearchInput:focus {
  border: 1px solid #000;
}

.searchInput {
  color: var(--header-color);
}

.otherPageSearchIcon {
  color: rgb(204, 204, 204);
}

.walletBtn {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px !important;
  padding: 15px !important;
  margin-right: 10px !important;
  color: var(--header-color) !important;
}

.walletBtn:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.otherPageWalletBtn {
  color: var(--other-page-color) !important;
  border: 1px solid #000 !important;
}

.headerUser {
  display: flex;
}

/* Modal */
.logoutModal > div > div {
  width: 400px;
  height: 200px;
}

/* menu */
.menu {
  width: 500px !important;
}