.categoryBtn {
  color: #fff !important;
  border: none !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  border-radius: 10px !important; 
}

.categoryBtn:hover {
  color: #fff !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px !important;
}
