#items{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 20px;
    grid-row: 4/5;
    margin-left: 1.5vw;
}

#userprofile{
    position:absolute;
    top: 200px;
    left: 2.2vw;
}

#mypage{
    display: grid;
    grid-template-rows: 300px 180px 50px minmax(300px,auto)
}

#menubar{
    grid-row: 3/4;
    margin-left: 2.2vw;
}