/* slide */
.slick-slider.slick-initialized {
  width: 95%;
  margin: 0 auto;
} 


.slick-prev:before, 
.slick-next:before {
  color: #999 !important;
  border-radius: 100%;
  font-size: 30px;
}

/* Card */
.card {
  width: 300px !important;
  margin: 0 10px;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.cardContent {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.cardFloor > p:first-child, 
.cardTotal > p:first-child {
  color: #999;
}

.cardFloor > p:last-child, 
.cardTotal > p:last-child {
  font-weight: 500;
}

.cardTotal {
  display: flex;
  flex-direction: column;
}

.nftList {
  margin-top: 60px;
}
